@charset "UTF-8";
/*Mobile*/

@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Passion+One&family=Roboto&family=Sriracha&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
}
.container{
display: flex;
flex-direction: column;
height: 100vh;
}
body, html{
    background-color: #7300E5;
    height: 1800px;
}
main{
    position: relative;
    margin-top: 15vh;
    width: 96vw;
}
main > section{
    margin: 10vh;
}
/*Hora do rush*/
body > main > section#horadorush{
    position: absolute;
    left: 50%;
    background-color: white;
    width: 280px;
    text-align: center;
    margin: auto;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0px 0px 10px black;
    transform: translate(-50%); 
    display: block;
}
body > main > section#horadorush:hover{
    position: absolute;
    left: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.700);
    transition: transform 0.5s;
    transform: translate(-50%) scale(105%); 
}
body > main > section > div#img1{
    background: black url(../imagens/horadorushcerto.jpg) no-repeat;
    background-size: cover;
    height: 280px;
    background-position: center center;
}
body > main > section > div#text1{
    background-color: #ff0167;
    color: white;
}
body > main > section > div#text1 > h1{
    padding-bottom: 8px;
    padding-top: 4px;

}
body > main > section > div#text1 > p{
    padding: 8px;
}
body > main > section > div#text1 > a{
    text-decoration: none;
    color: white;
    background-color: #91003a;
    font-weight: bolder;
    display: block;
    height: 30px;
    text-align: center;
    padding-top: 10px;
}
body > main > section > div#text1 > a:hover{
    background-color: #520021;
}
/*OBGLETRAP 1*/
body > main > section#obgletrap1{
    position: absolute;
    left: 50%;
    background-color: white;
    width: 280px;
    text-align: center;
    margin: auto;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0px 0px 10px black;
    transform: translate(-50%, 120%);
    display: block;
}
body > main > section#obgletrap1:hover{
    position: absolute;
    left: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.700);
    transition: transform 0.5s;
    transform: translate(-50%, 120%) scale(105%); 
}
body > main > section > div#img2{
    background: black url(../imagens/obgletrap1certo.jpg) no-repeat;
    background-size: cover;
    height: 280px;
    background-position: center center;
}
body > main > section > div#text2{
    background-color: #24D056;
    color: white;
}

body > main > section > div#text2 > h1{
    padding-bottom: 8px;
    padding-top: 4px;

}
body > main > section > div#text2 > p{
    padding: 8px;
}
body > main > section > div#text2 > a{
    text-decoration: none;
    color: white;
    background-color: #008626;
    font-weight: bolder;
    display: block;
    height: 30px;
    text-align: center;
    padding-top: 10px;
}
body > main > section > div#text2 > a:hover{
    background-color: #005a1a;
}
/*OBGLETRAP2*/
body > main > section#obgletrap2{
    position: absolute;
    left: 50%;
    background-color: white;
    width: 280px;
    text-align: center;
    margin: auto;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0px 0px 10px black;
    transform: translate(-50%,220%);
    display: block;
}
body > main > section#obgletrap2:hover{
    position: absolute;
    left: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.700);
    transition: transform 0.5s;
    transform: translate(-50%, 220%) scale(105%); 
}
body > main > section > div#img3{
    background: black url(../imagens/obgletrap2certo.jpg) no-repeat;
    background-size: cover;
    height: 280px;
    background-position: center center;
}
body > main > section > div#text3{
    background-color: #650101;
    color: white;
}

body > main > section > div#text3 > h1{
    padding-bottom: 8px;
    padding-top: 4px;

}
body > main > section > div#text3 > p{
    padding: 8px;
}
body > main > section > div#text3 > a{
    text-decoration: none;
    color: white;
    background-color: #380000;
    font-weight: bolder;
    display: block;
    height: 30px;
    text-align: center;
    padding-top: 10px;
}
body > main > section > div#text3 > a:hover{
    background-color: #1a0000;
}